.content {
  width: 100vw;
  height: var(--vh,100vh);
  overflow: hidden;
  position: absolute;
}
.background {
  height: var(--vh,100vh);
  width: 100vw;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 
    linear-gradient(45deg,#0000 0 23px, #0003 23px 24px, #0000 24px) 0 0 /20px 20px,
    linear-gradient(-45deg,#0000 0 23px, #0003 23px 24px, #0000 24px) 20px 10px /20px 20px;
  background-color: #212121;
}
body > div > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
}
.prf {
  width: min(88vw, 100vh);
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 4vmin;
  background-color: #57575720;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0 0 10px #00000066;
  transition: 200ms;
}
.prf-avatar-container {
  width: 100%;
  height: 55% !important;
  margin-top: calc(-20% / 16 * 9);
}
.avatar {
  height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: 0 0 10px #888;
}
.prf-text-container {
  height: 40%;
}
.prf-name {
  height: 40%;
  margin: 0;
  padding-top: calc(20%/16*9*0.4);
  font-size: 6vmin;
  color: white;
  text-align: center;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: bold;
}
.prf-screenname {
  font-size: 4vmin;
  padding: 0;
}
.prf-link-container{
  display: flex;
  justify-content: space-between;
  height: 35%;
  margin: 0 auto;
  padding: 0 5%;
}
.prf-link-item {
  list-style: none;
  height: 40%;
  width: 16%;
  padding-top: calc(30% /16*9 *0.35);
  transition: 1s;
}
.prf-link-item::after {
  content: "";
  position: absolute;
  width: calc(90% * 0.16);
  height: .5%;
  bottom: 10%;
  border-radius: 20px;
  background-color: #fff;
  transition: .4s;
}
.prf-link-item:hover::after {
  bottom: 30%;
  opacity: 0;
}
.prf-link-item img {
  width: 35%;
  display: block;
  margin: 0 auto;
  transition: .2s
}
.prf-link-item:hover img {
  transform: scale(0);
  opacity: 0;
}
.fluid {
  background: linear-gradient(35deg, rgba(255,234,196,1) 0%, rgba(252,255,0,1) 50%, rgba(255,182,0,1) 100%);
  animation: fluid 25s ease 0s infinite;
  position: relative;
}
.bgf1 {
  width: calc(20vh + 20vw);
  height: calc(20vh + 20vw);
  top: calc(-10vw + -20vh);
  left: calc(-10vw + -5vh);
}
.bgf2 {
  width: calc(20vh + 20vw);
  height: calc(20vh + 20vw);
  bottom: calc(-10vw + -25vh);
  right: calc(-10vw + -5vh);
  transform: rotate(135deg) scale(180%);
  animation-delay: -2s;
}
@keyframes fluid {  
0%, 100% {
  border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
} 14% {
  border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
} 28% {
  border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
} 42% {
  border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
} 56% {
  border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
} 70% {
  border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
} 84% {
  border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
}}
