body {
  overflow: hidden;
}
.content {
  width: 100vw;
  height: var(--vh,100vh);
  overflow: hidden;
  position: absolute;
}
.background {
  height: var(--vh,100vh);
  width: 100vw;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 
    linear-gradient(45deg,#0000 0 23px, #0003 23px 24px, #0000 24px) 0 0 /20px 20px,
    linear-gradient(-45deg,#0000 0 23px, #0003 23px 24px, #0000 24px) 20px 10px /20px 20px;
  background-color: #212121;
}
.prf-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prf {
  width: min(88vw, 100vh);
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 4vmin;
  background-color: #57575720;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0 0 10px #00000066;
  transition: 200ms;
}
.prf-avatar-container {
  width: 100%;
  height: 55% !important;
  margin-top: calc(-20% / 16 * 9);
}
.avatar {
  height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: 0 0 10px #888;
}
.prf-text-container {
  height: 40%;
}
.prf-name {
  height: 40%;
  margin: 0;
  padding-top: calc(20%/16*9*0.4);
  font-size: 6vmin;
  color: white;
  text-align: center;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: bold;
}
.prf-screenname {
  font-size: 4vmin;
  padding: 0;
}
.prf-link-container{
  display: flex;
  justify-content: space-between;
  height: 35%;
  margin: 0 auto;
  padding: 0 5%;
}
.prf-link-item {
  list-style: none;
  height: 40%;
  width: 16%;
  padding-top: calc(30% /16*9 *0.35);
  transition: 1s;
}
.prf-link-item::after {
  content: "";
  position: absolute;
  width: calc(90% * 0.16);
  height: .5%;
  bottom: 10%;
  border-radius: 20px;
  background-color: #fff;
  transition: .4s;
}
.prf-link-item:hover::after {
  bottom: 30%;
  opacity: 0;
}
.prf-link-item a {
  display: block;
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color:#0000;
}
.prf-link-item img {
  width: 35%;
  display: block;
  margin: 0 auto;
  transition: .2s
}
.prf-link-item:hover img {
  transform: scale(0);
  opacity: 0;
}
.tweet-container {
  position: absolute;
  bottom:0;
  width: 100%;
  height: 0;
  filter: drop-shadow(0 0 10px #0009);
  overflow: hidden;
}
.fluid {
  background: linear-gradient(35deg, rgba(255,234,196,1) 0%, rgba(252,255,0,1) 50%, rgba(255,182,0,1) 100%);
  animation: fluid 25s ease 0s infinite;
  position: relative;
}
.bgf1 {
  width: calc(20vh + 20vw);
  height: calc(20vh + 20vw);
  top: calc(-10vw + -20vh);
  left: calc(-10vw + -5vh);
}
.bgf2 {
  width: calc(20vh + 20vw);
  height: calc(20vh + 20vw);
  bottom: calc(-10vw + -25vh);
  right: calc(-10vw + -5vh);
  transform: rotate(135deg) scale(180%);
  animation-delay: -2s;
}
@keyframes fluid {  
0%, 100% {
  border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
} 14% {
  border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
} 28% {
  border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
} 42% {
  border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
} 56% {
  border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
} 70% {
  border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
} 84% {
  border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
}}
.tweet-top-border {
  position: relative;
  height: 100px;
}
.tweet-top-border::before {
  content: '';
  position: absolute;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 100% 40px;
  background-position: 50% 100%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMidYMin slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 91.5"><path fill="%23fae46d" d="M0 92V65c14 2 29-3 42-11 21-12 40-29 63-34 24-4 48 7 71 16 21 9 42 17 64 19 47 5 94-17 140-33s98-25 139 3c13 9 25 21 39 19 10 0 18-7 26-12 34-21 75-27 112-15 12 4 25 11 31 25 8 17 28 26 45 22s30-15 46-23c51-29 111-24 167-18l15 2 15-2c56-6 116-11 168 18 15 8 29 19 45 23s37-5 45-22c6-14 19-21 31-25 37-12 78-6 112 15 8 5 16 12 26 13 14 1 26-11 39-20 41-28 93-19 139-3s93 38 140 33c22-2 43-10 64-19 23-9 47-20 71-16 23 5 42 22 63 34 13 8 28 13 42 11v27z" opacity=".75"/><path fill="%23fae46d" d="M1458 92c21-9 48-19 80-30a127 127 0 0165-4h1l32 7 19 4a78 78 0 0019 2 87 87 0 0024-5 180 180 0 0025-10l6-4 2-1 7-3 2-1 21-10c16-6 31-7 46-4s31 9 46 15l19 8c19 8 38 14 58 13h3a71 71 0 0032-10 97 97 0 0019-16 283 283 0 0016-18v35c-18 10-38 18-57 21-31 5-69-5-99-13l-10-3a70 70 0 01-10-5c-17-9-36-16-54-7l-1 1a199 199 0 00-18 12l-11 7a76 76 0 01-11 5 87 87 0 01-18 4 124 124 0 01-19 2 265 265 0 01-32-2c-21-3-43-7-62-5-17 2-32 7-47 15zM815 92l2-1 15-12 24-17a424 424 0 0165-36 331 331 0 0131-12l21-6a98 98 0 0154 0l21 6a331 331 0 0131 12 424 424 0 0165 36l24 17 15 12 2 1h-8l-9-7c-41-30-116-28-168-2-52-26-127-28-168 2l-9 7z" opacity=".51"/><path fill="%23fae46d" d="M1304 92v-1c17-12 33-27 50-38 16-10 33-16 54-13a251 251 0 0128 6c29 7 56 16 83 0l11-6c45-21 111-27 178 2l21 10v1q11 5 22 13a307 307 0 0133 26h-82a403 403 0 00-28-21 238 238 0 00-35-20 138 138 0 00-14-5 140 140 0 00-17-5 91 91 0 00-32 0 103 103 0 00-24 7c-31 13-56 36-115 21-11-3-19-9-30-12l-4-1c-10-3-19 0-27 4-12 7-23 17-32 23l-15 9z" opacity=".51"/><circle  fill="%23fae46d" cx="1940.8" cy="27.4" r="17.1" transform="rotate(-67 1934 23)" opacity=".51"/><path fill="%23fae46d" d="M1420 92a19 19 0 0132-5 18 18 0 012 5z"/><circle  fill="%23fae46d" cx="1710.8" cy="61.6" r="13.4"/><circle  fill="%23fae46d" cx="1741.9" cy="28.9" r="5.9" opacity=".51"/><circle  fill="%23fae46d" cx="1060.7" cy="27.8" r="18.6" opacity=".51"/><circle  fill="%23fae46d" cx="1320.5" cy="57.1" r="13.4"/><circle  fill="%23fae46d" cx="1109" cy="9.2" r="8.9" opacity=".51"/><circle  fill="%23fae46d" cx="1625.5" cy="17.4" r="8.9" transform="rotate(-45 1615 13)" opacity=".51"/><circle  fill="%23fae46d" cx="1887.5" cy="6.9" r="6.1" opacity=".51"/><path fill="%23fae46d" d="M1166 92v-2a80 80 0 01155 1l1 1z" opacity=".51"/><path fill="%23fae46d" d="M0 92V48a63 63 0 0115-5h1c16-3 33 0 50 3l62 10a363 363 0 0048 4l20-1a323 323 0 0035-5l31-6 30-6a195 195 0 0183 4l22 5a108 108 0 0027 2 109 109 0 0024-5l22-8c14-5 29-9 44-9 17 1 34 8 50 15l29 11a72 72 0 0034 3 84 84 0 0019-7l18-8a128 128 0 0196-3l4 2 32 14 4 1c18 5 37 4 56 3h1l77-5a121 121 0 0166 9l4-2c19-10 41-8 62-7l77 5h1a166 166 0 0060-4l32-14 4-2a128 128 0 0196 3l18 8a84 84 0 0019 7h3c10 2 21 0 31-3l29-11c16-7 33-14 50-15 15 0 30 4 44 9l22 8a109 109 0 0024 5 108 108 0 0027-2l22-5a443 443 0 0124-5c20-3 40-2 59 1l30 6 31 6a323 323 0 0035 5l20 1a363 363 0 0048-4l62-10c17-3 34-6 50-3h1a63 63 0 0115 5v44z"/><path fill="%23fae46d" d="M542 92c-21-9-48-19-80-30a127 127 0 00-65-4h-1l-32 7-19 4a78 78 0 01-19 2 87 87 0 01-24-5 180 180 0 01-25-10l-6-4-2-1-7-3-2-1-21-10c-16-6-31-7-46-4s-31 9-46 15l-19 8c-19 8-38 14-58 13h-3a71 71 0 01-32-10 97 97 0 01-19-16A283 283 0 010 25v35c18 10 38 18 57 21 31 5 69-5 99-13l10-3a70 70 0 0010-5c17-9 36-16 54-7l1 1a199 199 0 0118 12l11 7a76 76 0 0011 5 87 87 0 0018 4 124 124 0 0019 2 265 265 0 0032-2c21-3 43-7 62-5 17 2 32 7 47 15z" opacity=".51"/><path fill="%23fae46d" d="M696 92v-1c-17-12-33-27-50-38a78 78 0 00-54-13 251 251 0 00-28 6c-29 7-56 16-83 0l-11-6c-45-21-111-27-178 2l-21 10v1q-11 5-22 13a307 307 0 00-33 26h82a403 403 0 0128-21 238 238 0 0135-20 138 138 0 0114-5 140 140 0 0117-5 91 91 0 0132 0 103 103 0 0124 7c31 13 56 36 115 21 11-3 19-9 30-12l4-1c10-3 19 0 27 4 12 7 23 17 32 23l15 9z" opacity=".51"/><circle  fill="%23fae46d" cx="59.2" cy="27.4" r="17.1" transform="rotate(-23 38 23)" opacity=".51"/><path fill="%23fae46d" d="M580 92a19 19 0 00-32-5 18 18 0 00-2 5z"/><circle  fill="%23fae46d" cx="289.2" cy="70" r="13.4" transform="rotate(-2 69 66)"/><circle  fill="%23fae46d" cx="258.1" cy="28.9" r="5.9" opacity=".51"/><circle  fill="%23fae46d" cx="939.3" cy="27.8" r="18.6" opacity=".51"/><circle  fill="%23fae46d" cx="679.5" cy="57.1" r="13.4"/><circle  fill="%23fae46d" cx="891" cy="9.2" r="8.9" opacity=".51"/><circle  fill="%23fae46d" cx="374.5" cy="17.4" r="8.9" transform="rotate(-45 364 13)" opacity=".51"/><circle  fill="%23fae46d" cx="112.5" cy="6.9" r="6.1" opacity=".51"/><path fill="%23fae46d" d="M834 92v-2a80 80 0 00-155 1l-1 1z" opacity=".51"/></svg>'); 
}
.tweet-container-inner {
  width: 100%;
  height: 101%;
  background-color: #FAE46D;
  position: relative;
  top: -3px;
}
.tweet-container-inner > div {
  width: 92vmin;
  margin: 0 auto;
  position: relative;
  top: 4vmin;
  pointer-events: none;
}
